.app {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.app h1 {
  font-family: 'Audiowide', cursive;
  font-size: 3em;
}

.quote-panel {
  display: flex;
  flex-direction: column;
  border: 5px solid lightsteelblue;
  border-radius: 8px;
  padding: 20px 30px;
  margin: 30px 100px;
}

.quote-panel blockquote {
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  font-size: 4em;
  margin: 20px 40
}

.quote-author {
  font-family: 'Rancho', cursive;
  font-size: 1.5em;
}

.quote-panel-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
