body {
  background: url('./images/baliboats.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.app {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.app h1 {
  font-family: 'Audiowide', cursive;
  color: white;

}

.app .jumbotron {
  background-color: white;
  opacity: 0.7;
}

.app .quote-panel blockquote {
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  font-size: 2em;
  border: 0;
}

.app .quote-author {
  font-family: 'Rancho', cursive;
  font-size: 1.2em;
  letter-spacing: 1px;
}
/*
.quote-panel {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px 30px;
  margin: 30px 100px 10px 100px;
  background-color: white;
  opacity: 0.5;
}

.quote-panel blockquote {
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  font-size: 3em;
  margin: 20px 40
}

.quote-author {
  font-family: 'Rancho', cursive;
  font-size: 1.5em;
}*/

.quote-panel-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .app .quote-panel blockquote {
    font-size: 4em;
  }

  .app .quote-author {
    font-size: 2em;
  }
}
