body {
  background: url('./images/baliboats.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.app {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.app h1 {
  font-family: 'Audiowide', cursive;
  color: white;

}

.app .jumbotron {
  background-color: white;
  opacity: 0.7;
  margin-bottom: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app .quote-panel blockquote {
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  font-size: 2em;
  border: 0;
}

.app .quote-author {
  font-family: 'Rancho', cursive;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.quote-panel-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .app .quote-panel blockquote {
    font-size: 4em;
  }

  .app .quote-author {
    font-size: 2em;
  }
}
